body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Content */
.content {
    max-width: 400px;
}